body {
    font-family: Inter, sans-serif;
    background-color: #ffffff;
    color: #242f46;
    margin: 0;
    padding: 0;
}

.logo-left {
    padding-left: 20px;
}

h1 {
    font-family: Bebas Neue, sans-serif;
}

h2 {
    font-size: large;
}

img {
    margin: auto;
    padding: 0;
}

button {
    background-color: transparent;
    border-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-weight: bold;
    background-color: #ffffff;
    color: #242f46;
    text-align: center;
    max-height: 8vh;
    min-height: 8vh;

}

.hero-hbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #7fccff, #5872f1, #be3bff);
}

.hero-box {
    flex: 1;
    max-width: 600px;
}

.hero-text {
    font-family: 'Inter', sans-serif; /* Apply Inter font as a fallback */
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
}

.hero-description {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
}

.mail-box {
    display: flex;
}

.mail-prompt {
    width: 100%;
    padding: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.right-content {
    display: flex;
    align-items: center;
}

.hbox {
    display: flex;
}

.stack-pane {
    position: relative;
}

.hero-image {
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 0;
}

.hero-graphic {
    max-width: 600px;
    top: 0;
    left: 0;
}

input:focus {
    outline: none;
}

.greeting {
    color: #242f46;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 70%;
    align-content: center;
    text-decoration: none;
    display: flex;
    margin: auto;
}

.search-box {
    color: #000000;
    border: none;
    padding: 40px 20px;
    border-radius: 15px;
    width: 70%;
    align-content: center;
    text-decoration: none;
    display: flex;
    margin: auto;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.content-box {
    position: relative;
    color: #242f46;
    border: none;
    border-radius: 15px;
    width: 70%;
    height: 400px;
    align-content: center;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.content-box-description {
    color: #ffffff;
    background-color: rgba(0,0,0,0.69);
    padding: 20px 0;
    border-radius: 0 0 15px 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

}

.content-box-text {
    padding: 0 5px;
}

.content-box-image {
    width: 100%;
    height: 400px;
    object-fit: cover; /* or object-fit: contain; depending on your needs */
    border-radius: 15px;
}

.content-price {
    padding: 0 15px 0 0;
    position: absolute;
    right: 0;
}

.hbox {
    display: flex;
}

.product-slide {
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.hgrow {
    margin: auto;
}

.bee {
    width: 50px;
    height: 50px;
}

.menu-icons {
    width: 30px;
    height: 30px;
    padding: 0;
}


.media-link-button {
    color: #242f46;
    border: none;
    padding: 10px 1%;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 3vw;
}

.search-button {
    min-width: 6vw;
    max-width: 6vw;
    background-color: #242f46;
    color: #ffffff;
    border: none;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
}

.media-link-button:hover {
    opacity: 60%;
}

.media-link-button .text {
    font-size: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.media-link-button:hover .text {
    font-size: medium;
    opacity: 1;
}

.search-button:hover {
    background-color: #445883;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.right-content {
    flex: 1; /* Allow the right content to take up remaining space */
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
}

footer {
    background-color: #242f46;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    width: 220px;
    margin: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

footer a:hover {
    text-decoration: underline;
}

.footer-logo {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        background-color: #445883;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
                0 -1px 0 rgba(0, 0, 0, .04),
                0 2px 4px rgba(0, 0, 0, .25),
                0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}



.additional-info {
    display: none;
}

#carlBox:hover .additional-info,
#mattBox:hover .additional-info
,#alejandroBox:hover .additional-info
,#liBox:hover .additional-info {
    display: block;
}

