body {
    font-family: Inter, sans-serif;
    background-color: #ffffff;
    color: #342E37;
    margin: 0;
    padding: 0;
}



h4 {
    font-family: Bebas Neue, sans-serif;
    font-size: 25px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-weight: bold;
    background-color: #ffffff;
    color: #342E37;
    align-items: center;
    height: 7vh;
    margin: auto;
    display: flex;
}

.header-button {
    height: 7vh;
    color: #242f46;
    border: none;
    padding: 10px 1%;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: auto;
}

.bee {
    width: 40px;
    height: 40px;
}

.hero-text {
    text-align: center;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.hero-description {
    text-align: center;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 10%;
}

.container-in {
    background: #8EF3FF;
    background: linear-gradient(0deg, #8EF3FF, #FFFFFF);
    position:relative;
    margin:0 auto;
    clear:left;
    z-index: 0;
    text-align:center;
    height: 60vh;
}

.container-out {
    background: #8EF3FF;
    background: linear-gradient(180deg, #8EF3FF, #FFFFFF);
    position:relative;
    margin:0 auto;
    clear:left;
    z-index: 0;
    text-align:center;
    height: 60vh;
}

.signup-button {
    background-color: black;
    border: none;
    border-radius: 50px;
    width: 80%;
    height: 50px;
    margin: auto;
}

.signup-button-text {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 900;
    background: linear-gradient(45deg, #2D9AFF, #A7FF92);
    color: transparent; /* Set text color to transparent */
    -webkit-background-clip: text; /* For WebKit/Blink browsers (Chrome, Safari) */
    background-clip: text; /* Standard syntax */
    margin: 0;
    padding: 0;
}