body {
    font-family: Inter, sans-serif;
    background-color: var(--light-1);
    color: var(--dark-1);
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

h4 {
    font-family: Bebas Neue, sans-serif;
    font-size: 30px;
    color: var(--dark-1);
}

h5 {
    font-size: 20px;
}

img {
    margin: auto;
    padding: 0;
}

hr {
    background: var(--light-2);
    height: 2px;
    border: none;
}

img {
    margin: auto;
    padding: 0;
}

button {
    background-color: transparent;
    border-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-hbox {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10vw;
}

.fancy-button {
    background: var(--base-1);
    color: var(--light-1);
    font-weight: bold;
    padding: 17px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
}

.fancy-button:hover {
    background-color: var(--base-2);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.content-hbox {
    display: flex;
}

.greeting {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 70%;
    align-content: center;
    text-decoration: none;
    display: flex;
    margin: auto;
}

.header-button {
    height: 70px;
    color: var(--light-1);
    font-size: 20px;
    border: none;
    padding: 10px 1%;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 3vw;
}

.header-button:hover {
    opacity: 60%;
}

.header-button .text {
    font-size: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.header-button:hover .text {
    font-size: medium;
    opacity: 1;
}

.right-content {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header {
    font-weight: bold;
    color: var(--dark-1);
    text-align: center;
    height: 7vh;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.logo {
    width: 40px;
    height: 40px;
    padding-left: 20px;
    transform: translateY(-3px);
}

.logo-top {
    font-weight: 900;
    padding-left: 5px;
}

.logo-bottom {
    color: var(--base-1);
}

.course-image {
    height: 500px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

footer {
    background-color: var(--dark-2);
    color: var(--light-1);
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    width: 220px;
    margin: 10px 0;
}

footer a {
    color: var(--light-1);
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

footer a:hover {
    text-decoration: underline;
}

.footer-logo {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}