:root {
    --base-1: #5666ff;
    --base-2: #270e98;
    --light-1: #eaeaea;
    --light-2: #adadad;
    --dark-1: #1a1a1a;
    --dark-2: #07002c;
}


body {
    font-family: Inter, sans-serif;
    background-color: var(--light-1);
    color: var(--dark-1);
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

h4 {
    font-family: Bebas Neue, sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

h5 {
    font-size: 20px;
}

hr {
    background: var(--light-2);
    height: 2px;
    border: none;
}

img {
    margin: auto;
    padding: 0;
}

button {
    background-color: transparent;
    border-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Header  */

.header {
    font-weight: bold;
    color: var(--dark-1);
    text-align: center;
    height: 7vh;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.logo-text-container {
    margin: 0;
    padding: 0;
}

.logo-top {
    font-weight: 900;
    padding-left: 5px;
}

.logo-bottom {
    color: var(--base-1);
}


.header-button {
    height: 70px;
    color: var(--light-1);
    font-size: 20px;
    border: none;
    padding: 10px 1%;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 3vw;
}

.header-button:hover {
    opacity: 60%;
}

.header-button .text {
    font-size: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.header-button:hover .text {
    font-size: medium;
    opacity: 1;
}

.fancy-button {
    background: var(--base-1);
    color: var(--light-1);
    font-weight: bold;
    padding: 17px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
}

.fancy-button:hover {
    background-color: var(--base-2);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.background {
    background-image: url('media/blurryStars.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.background-overlay {
    /*background: linear-gradient(rgba(0, 0, 33, 0.83), rgba(0, 0, 33, 0.74)); */
}

/* Hero  */

.hero-hbox {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10vw;
}

.hero-container {
    display: flex;
    justify-content: flex-start;
}

.hero-box {
    flex: 1;
    max-width: 600px;
}

.hero-text {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: whitesmoke;
}

.hero-description {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--light-1);
    line-height: 1.5;
    margin-bottom: 20px;
}

.mail-box {
    display: flex;
}

.mail-prompt {
    width: 100%;
    padding: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 19px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.right-content {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.hbox {
    display: flex;
}

.featured,
.data-Science,
.digital-marketing,
.information-technologies{
    display: flex;
}

.stack-pane {
    position: relative;
}

.hero-image {
    max-width: 500px;

    margin-left: 7vw;
    animation: pulse 6s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.hero-graphic {
    max-width: 700px;
    width: 50%;
    top: 0;
    left: 0;
    opacity: 0;
}

input:focus {
    outline: none;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust as needed */
}

.search-bar {
    box-sizing: border-box;
    width: 60%;
    border: 2px solid var(--light-2);
    border-radius: 20px;
    position: relative; /* Make it a positioning context for the absolute position of the button */
}

.search-button {
    position: absolute;
    top: 50%;
    right: 0.5vw;
    transform: translateY(-50%);
    padding: 0.7vw 1.2vw 0.7vw 1.2vw;
    background-color: var(--dark-1);
    color: var(--light-2);;
    font-weight: bold;
    border: none;
    border-radius: 0.7vw;
    cursor: pointer;

    &:hover {
        background-color: #685f6c;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    margin: auto;
    opacity: 50%;
}


.search-prompt {
    background: none;
    width: 60%;
    padding: 20px 20px 20px 100px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}


.greeting {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 70%;
    align-content: center;
    text-decoration: none;
    display: flex;
    margin: auto;
}

.search-box {
    border: none;
    padding: 40px 20px;
    border-radius: 15px;
    align-content: center;
    text-decoration: none;
    display: flex;
    margin: auto;
}

.content-box {
    width: 350px;
    background-color: white;
    color: var(--dark-1);
    border: none;
    border-radius: 15px;
    align-content: center;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);

    &:hover {
        border: 3px #212121;
    }
}

.content-box-description {
    color: var(--dark-1);
    border-radius: 0 0 15px 15px;
    margin: 20px;

}

.content-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.content-box-title {
    font-size: 30px;
    font-weight: bold;

}

.content-box-text {
    font-size: 10px;
    font-weight: 900;
    color: var(--light-2);
    padding: 5px;
    margin: auto;
}

.content-box-image {
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.content-box-icon {
    width: 15px;
    height: 15px;
    margin: auto;
    padding: 5px;
}

.content-box-attribute {
    width: min-content;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.content-box-attributes {
    padding: 0;
    margin: 0;
}

.content-price {
    padding: 0 15px 0 0;
    position: absolute;
    right: 0;
}

.content-button {
    background-color: black;
    color: var(--light-1);
    font-weight: 900;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-right: 0;
}

.hbox {
    display: flex;
}

.product-slide {
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.hgrow {
    margin: auto;
}

.logo {
    width: 40px;
    height: 40px;
    padding-left: 20px;
    transform: translateY(-3px);
}

.logo-footer {
    width: 40px;
    height: 40px;
}

.img-white {
    filter: brightness(100);
}

.menu-icons {
    width: 30px;
    height: 30px;
    padding: 0;
}


.media-link-button {
    color: var(--dark-1);
    border: none;
    padding: 10px 1%;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 3vw;

    &:hover {
        opacity: 60%;
    }

    & .text {
        font-size: 0;
        width: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover .text {
        font-size: medium;
        opacity: 1;
    }
}


.standard-button {
    background-color: var(--base-1);
    color: var(--light-1);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;

    &:hover {
        background-color: var(--base-2);
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
}

.right-content {
    flex: 1; /* Allow the right content to take up remaining space */
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
}

footer {
    background-color: var(--dark-1);
    color: var(--light-1);
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    width: 220px;
    margin: 10px 0;
}

footer a {
    color: var(--light-1);
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

footer a:hover {
    text-decoration: underline;
}

.footer-logo {
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.additional-info {
    display: none;
}
