@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#app {

}


body {
  font-family: 'Inter', sans-serif;
  color: var(--dark-1);
}

h1 {
  font-size: 40px;
  font-weight: 900;
  color:  #282828;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color:  #282828;
}

h3 {
  font-size: 20px;
  color:  #282828;
}

h4 {
  font-family: Bebas Neue, sans-serif;
  font-size: 30px;
  color:  white;
}

h5 {
  font-size: 20px;
  color:  #282828;
}

footer h5 {
  color: #EAEAEA;
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(180deg, #FFFFFF -148.55%, #9087EF 236.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 200px;
}

.hero-description {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #8F98EC;
  max-width: 470px;

}

p {
  color: #282828;
}

.post-content h3{
  font-weight: bold;
  margin: 20px 0 0 0;
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  display: inline-block;
  margin: auto;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
  calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}


.fancy-button {
  color: var(--dark-1);
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  margin: 0 5px;
  max-height: 40px;
  min-height: 40px;
  background: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
}

.fancy-button:hover {
  background-color: var(--light-3);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  justify-items: center;
  gap: 7px;
  margin-bottom: 3px;
}

.inp-cbx {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  min-height: 20px;
  min-width: 20px;
  background-color: #eee;
}

#difficultyContainer .inp-cbx {
  border: 1px solid #5666ff;
  border-radius: 0.25em;
}


.cbx {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  max-height: 20px;
}

.lbl-cbx input {
  display: none;
}

.lbl-cbx {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.lbl-cbx input:checked ~ .div-cbx {
  background-color: #5565fd;
}

.lbl-cbx input:checked ~ .div-cbx:after {
  left: 0.40em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border-color: #fff0 white white #fff0;
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0em;
  transform: rotate(45deg);
}

.div-cbx {
  position: relative;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #2196F300;
  border-radius: 0.25em;
  transition: all 0.25s;
}

.div-cbx:after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  border: 0.05em solid #5666ff;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 0.25em;
  transition: all 0.25s, border-width 0.1s;
}

.form-control{
  width: 100%;
  font-family: sans-serif;
  min-height: 40px;
  text-align: center;
  border: 1px solid #5666ff;
  border-left: none;
}

.form-control input.active {
  border:none;
}



@media (max-width: 1250px) {

  .range-container  .checkbox-wrapper {
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}


