<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h5>Contact Us</h5>
            <p>Email: info@learniverse.com</p>
            <p>Phone: +47 70 70 70 70</p>
        </div>
        <div class="footer-section">
            <div class="footer-section">
                <h5>Created by Team 5 at</h5>
                <img width="200px" src="../media/ntnu2.svg" alt="NTNU Logo">
            </div>
            <div class="footer-logo">
                <img class="logo-footer" src="../media/logo.svg" alt="Connect">
                <h4 class="logo-top">Learniverse&nbsp;</h4>
            </div>
        </div>
        <div class="footer-section">
            <h5>Useful Links</h5>
            <a href="/categories" target="_blank">Categories</a>
            <a href="/explore" target="_blank">Explore</a>
            <a href="/about" target="_blank">About us</a>
        </div>
    </div>
</footer>