<div class="header">
    <div class="content">
        <a href="/" class="header-button">
            <img class="logo" src="media/logo.svg" alt="Connect">
            <h4 class="logo-top">Learniverse&nbsp;</h4>
            <h4 class="logo-bottom">Connect</h4>
        </a>
        <div class="menu-links">
            <a href="/explore" class="header-button">Explore</a>
            <a href="/categories" class="header-button">Categories</a>
            <a href="/pro" class="header-button">Learniverse&nbsp;Pro</a>
            <a href="/about" class="header-button">About&nbsp;us</a>
        </div>
        <div class="right-content">
            <a href="/cart" class="header-button">Cart</a>
            <a href="#" class="header-button">Currency</a>
            <a href="/login" class="fancy-button">Get&nbsp;Started</a>
        </div>
    </div>
    <br>
</div>