<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learniverse</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" th:href="@{media/logo.png}">
    <script src="../static/main.js"></script>
</head>
<body>
<div class="background">
    <div class="background-overlay">
        <div class="header">
            <div class="content">
                <a href="/" class="header-button">
                    <img class="logo" th:src="@{media/logo.png}" alt="Connect">
                    <h4 class="logo-top">Learniverse&nbsp;</h4>
                    <h4 class="logo-bottom">Connect</h4>
                </a>
                <ul class="menu-links">
                    <li><a href="#" class="header-button">Pro</a></li>
                    <li><a href="#" class="header-button">Categories</a></li>
                    <li><a href="#" class="header-button">Contact</a></li>
                    <li><a href="/about" class="header-button">About</a></li>
                </ul>
                <div class="right-content">
                    <a href="/login" class="fancy-button">Get Started</a>
                </div>
            </div>
            <br>
        </div>

        <div class="hero-hbox">
            <div class="hero-container">
                <div class="hero-box">
                    <h1 class="hero-text">Unleash Your<br>Learning&nbsp;Journey</h1>
                    <p class="hero-description">Empower your learning journey with Learniverse Connect. Access premium courses,
                        explore diverse topics, and unleash your potential through our platform. Elevate your knowledge with
                        engaging content and take the first step towards a brighter future.</p>

                    <div class="mail-box">
                        <label for="myTextBox"></label><input class="mail-prompt" type="text" name="myTextBox"
                                                              placeholder="example@mail.com">
                        <div class="right-content">
                            <a href="#" class="standard-button">Sign&nbsp;Up</a>
                        </div>
                    </div>
                    <br>
                    <div class="hbox">
                        <p style="color: #ffffff; margin-right: 10px">Already have an account?</p>
                        <a href="/browse" style="color: #ffffff; margin-right: 10px" class="media-link-button">Log in</a>


                        <!--- <div class="right-content">
                            <p style="color: #ffffff; margin-right: 10px">or</p>

                            <button type="button" class="login-with-google-btn">
                                Sign in with Google
                            </button>
                        </div> --->
                    </div>
                    <br>
                </div>
                <!--- This image needs to be changed \/ --->

            </div>
        </div>
    </div>
</div>


<br>

<h3>Explore a large selection of courses</h3>

<div class="search-container">

    <div class="search-bar">
        <label for="myTextBox"></label><input class="search-prompt" type="text" id="myTextBox" name="myTextBox"
                                              placeholder="What would you like to learn?">
        <img class="search-icon" th:src="@{media/search.png}" alt="Connect">
    </div>
</div>

<div class="greeting">
    <h2>Featured</h2>
</div>

<div class="search-box">
    <div class="hbox">
        <div class="content-box">
            <img class="content-box-image"
                 src="https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_azure.jpg"
                 alt="NeuBee Logo">
            <div class="content-box-description">
                <div class="hbox">
                    <div>
                        <h3 class="content-box-text">Azure Cloud Course</h3>
                        <p class="content-box-text">Short text to describe course</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box">
            <img class="content-box-image"
                 src="https://www.jrebel.com/sites/default/files/image/2020-05/image-blog-revel-top-java-tools.jpg"
                 alt="NeuBee Logo">
            <div class="content-box-description">
                <div class="hbox">
                    <div>
                        <h3 class="content-box-text">Java Course</h3>
                        <p class="content-box-text">Short text to describe course</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box">
            <img class="content-box-image"
                 src="https://a.storyblok.com/f/42126/2619097a28/common-issues-mysql-thumb.png" alt="NeuBee Logo">
            <div class="content-box-description">
                <div class="hbox">
                    <div>
                        <h3 class="content-box-text">MySQL Course</h3>
                        <p class="content-box-text">Short text to describe course</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="greeting">
    <h2>Pro Benefits</h2>
</div>

<br>
<br>
<br>
<br>


<footer>
    <div class="footer-content">
        <div class="footer-section">
            <a href="/" class="footer-logo">
                <img class="logo" th:src="@{media/logo.png}" alt="Connect">
                <h4 class="logo-top">Learniverse&nbsp;</h4>
                <h4 class="logo-bottom">CONNECT</h4>
            </a>
        </div>
        <div class="footer-section">
            <h5>Contact Us</h5>
            <p>Email: info@learniverse.com</p>
            <p>Phone: +47 70 70 70 70</p>
        </div>
        <div class="footer-section">
            <h5>Follow Us</h5>
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
        <div class="footer-section">
            <h5>Created by Team 5 at</h5>
            <img width="200px" th:src="@{media/ntnu2.svg}" alt="NTNU Logo">
        </div>
    </div>
</footer>
</body>
</html>
