<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:href="@{/login.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" th:href="@{media/logo.png}">
    <script src="../static/main.js"></script>
</head>

<body>



<form th:action="@{/login}" method="post">
    <div class="login-container">
        <div class="login-box">
            <div class="login-field-box">
                <a href="/" class="header-button">
                    <img class="logo" th:src="@{media/logo.png}" alt="Connect">
                    <h4 class="logo-top">Learniverse&nbsp;</h4>
                    <h4 class="logo-bottom">Connect</h4>
                </a>
                <div th:if="${param.error}" class="alert alert-danger">
                    Invalid username or password.
                </div>

                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <div class="login-text-field">
                    <label for="username">Username:</label>
                    <input class="login-prompt" type="text" id="username" name="username" placeholder="username" required autofocus/>
                </div>
                <div class="login-text-field">
                    <label for="password">Password:</label>
                    <input class="login-prompt" type="password" id="password" name="password" placeholder="password" required/>
                </div>
                <div class="login-text-field">
                    <button class="standard-button" type="submit">Login</button>
                </div>
            </div>
            <img class="login-image" th:src="@{media/login.svg}" alt="Connect">
        </div>
    </div>


</form>

</body>
</html>
