.content-box {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
    justify-content: space-between;
    min-width: 270px;
    max-width: 270px;
    height: 390px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin: 30px;
}

.content-box:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.53);
    transform: scale(1.01);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.content-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4vw;
}

.content-box-title {
    font-size: 16px;
    font-weight: bold;
    color: #282828;
}

.content-box-text {
    font-size: 10px;
    font-weight: 900;
    color: #ADADAD;
    margin: 10px;
}

.content-box-image {
    margin: 0;
    height: 170px;
    width: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.content-box-image-banner {
    width: 170px;
    margin: 0;
    padding: 0;
    bottom: 300px;
    right: 40px;
    position: relative;
}

.content-box-attribute {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.content-box-attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;
}

.content-box-icon {
    width: 15px;
    height: 15px;
    margin: 8px 0 0 0;
}


.content-price {
    padding: 0 0 0 0;
    position: absolute;
    right: 0;
}

.price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    border-width: 1px;
    max-height: 30px;
    border-radius: 10px;
    margin: 5px 0 0 0;
}

.content-button {
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 0;
    color: #282828;
}

hr {
    background: #ADADAD;
    height: 2px;
    border: none;
}

.course-block {

    .course-card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 20px;
        padding: 20px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        min-width: 600px;
        min-height: 200px;
        max-width: 600px;
        max-height: 200px;
        text-decoration: none;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        &:hover {
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.53);
            transform: scale(1.01);
        }
    }

    .course-card-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 10px;
    }

    .course-card img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
    }

    .course-card h3 {
        font-size: 20px;
        margin: 10px 0;
    }

    .course-card p {
        color: #606060;
        font-size: 16px;
        margin: 10px 0;
    }

}