<div class="header">
    <div class="content">
        <div class="left-content">
            <a href="/" class="header-button">
                <img class="logo" src="../media/logo.svg" alt="Connect">
                <h4 class="logo-top">Learniverse&nbsp;</h4>
                <h4 class="logo-bottom">Connect</h4>
            </a>
            <div class="menu-links">
                <a href="/explore" class="header-button">Explore</a>
                <a href="/community" class="header-button">Community</a>
                <a href="/pro" class="header-button">Learniverse&nbsp;Pro</a>
            </div>
        </div>

        <div class="right-content">
            <a href="/cart" class="fancy-button">
                <img class="cart" src="../media/cart.svg" alt="Cart">
            </a>
            <select class="fancy-button" id="currencySelect">
            </select>
            <a href="/login" class="header-button" id="usernameLabel">
                username
            </a>
            <button class="standard-button" onclick="logout()">Logout</button>
            <a href="/register" class="standard-button">Get Started</a>
        </div>
    </div>
</div>