:root {
    --base-1: #584BEB;
    --base-2: #270e98;
    --light-1: #eaeaea;
    --light-2: #adadad;
    --dark-1: #090909;
    --dark-2: #1a1a1a;
    --dark-3: #07002c;
}


body {
    font-family: Inter, sans-serif;
    background-color: #0f1013;
    background-image: url(https://uploads-ssl.webflow.com/6408bea3de5aef58b7e197d4/6438c3059d443cd7a78762eb_stars-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.h3Center {
    display: flex;
    justify-content: center;
}

hr {
    background: var(--light-2);
    height: 0.15vw;
    border: none;
}

img {
    margin: auto;
    padding: 0;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Header  */

#menubar {
    background-color: rgba(29, 28, 32, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,.08);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.left-content {
    max-height: 70px;
    padding: 0 2vw;
    display: flex;
    align-items: center;
}

.right-content {
    max-height: 70px;
    margin: 3vw;
    display: flex;
    max-width: min-content;
    align-items: center;
}

.left-content-general {
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex: 1; /* Allow the right content to take up remaining space */
    justify-content: flex-end; /* Align content to the right */
}

.right-content-general {
    display: flex;
    align-items: center;
    margin-right: 30vh;
    flex: 1; /* Allow the right content to take up remaining space */
    justify-content: flex-end; /* Align content to the right */
}



.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.content-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.logo-text-container {
    margin: 0;
    padding: 0;
}

.logo-top {
    font-weight: 900;
    padding-left: 5px;
}

.logo-bottom {
    color: var(--base-1);
}



@keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: -100px 0; }
}



.background {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Hero  */

.hero-hbox {
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10vw;
}

.hero-container {
    display: flex;
    justify-content: flex-start;
}

.hero-box {
    flex: 1;
    max-width: 600px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mail-box {
    display: flex;
    justify-content: space-between;
}

.mail-prompt {
    width: 100%;
    padding: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 19px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}



.hbox {
    display: flex;
}

.featured,
.data-Science,
.digital-marketing,
.information-technologies,
.learniverse-pro{
    justify-content: space-between;
    background-color: rgba(29, 28, 32, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 17px;
    padding: 3vw 2vw;
    margin: 2vw 3vw;
    display: flex;
}

.stack-pane {
    position: relative;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes courseHover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.planet1 {
    height: 50vh;
    animation: ease-in-out orbit 5s, zindex 20s steps(1);
}

.planet2 {
    position: relative;
    height: 50vh;
    animation: ease-in-out orbit2 5s infinite;
    filter: drop-shadow(0 0 80px rgba(255, 255, 255, 0.35));
}

@keyframes zindex {
    0%, 49.99% {
        z-index: 1;
    }
    50%, 100% {
        z-index: 0;
    }
}
@keyframes orbit {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1)
    }
}

@keyframes orbit2 {
    0% {
        transform: translateX(-30vw) scale(0.5);
    }
    25% {
        transform: translateX(-14vw) scale(0.2);
    }
    50% {
        transform: translateX(0) scale(0.5);
    }
    75% {
        transform: translateX(-14vw) scale(1);
    }
    100% {
        transform: translateX(-30vw) scale(0.5);
    }
}



.hero-graphic {
    max-width: 700px;
    width: 50%;
    top: 0;
    left: 0;
    opacity: 0;
}

input:focus {
    outline: none;
}

.search-section {
    padding: 1vw 0;
    margin: 0 10vw;
    background-color: rgba(29, 28, 32, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 17px;
    backdrop-filter: blur(5px);
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust as needed */
}

.search-bar {
    box-sizing: border-box;
    width: 60%;
    border: 2px solid var(--light-2);
    border-radius: 20px;
    position: relative; /* Make it a positioning context for the absolute position of the button */
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    margin: auto;
    filter: brightness(0) invert(1);
}


.search-prompt {
    color: var(--light-1);
    background: none;
    width: 60%;
    padding: 20px 20px 20px 100px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}


.greeting {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 70%;
    align-content: center;
    text-decoration: none;
    display: flex;
    margin: auto;
}

.search-box {
    border: none;
    padding: 3vw 0;
    border-radius: 15px;
    align-content: center;
    text-decoration: none;
    display: flex;
    margin: 0;
}

.content-box {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: space-between;
    width: 12vw;
    height: 34vh;
    background-color: rgba(29, 28, 32, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 27px;
    text-decoration: none;
    box-shadow: 0 2px 5px #000;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.05);
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.content-box-description {
    color: var(--dark-3);

}

.content-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4vw;
}

.content-box-title {
    font-size: 1vw;
    font-weight: bold;

}

.content-box-text {
    font-size: 0.5vw;
    font-weight: 900;
    color: var(--light-2);
    padding: 0.2vw;
    margin: auto;
}

.content-box-image {
    margin: 0;
    height: 16vh;
    width: 12vw;
    object-fit: cover;
    border-radius: 15px;
}

.content-box-icon {
    width: 0.7vw;
    height: 0.7vw;
    padding: 0.2vw;
}

.content-box-attribute {
    width: min-content;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.content-box-attributes {
    padding: 0;
    margin: 0;
}

.content-price {
    padding: 0 0 0 0;
    position: absolute;
    right: 0;
}

.price-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-width: 0.15vw;
    background-color: #363636;
    max-height: 3vw;
    border-radius: 1vw;
    margin: 0;
}

.content-button {
    padding: 0 0.2vw;
    font-weight: bold;
    font-size: 1vw;
    margin: 0;
    color: #9F9F9F;
}

.hbox {
    display: flex;
}

.product-slide {
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.hgrow {
    margin: auto;
}

.logo {
    width: 40px;
    height: 40px;
    padding-left: 20px;
    transform: translateY(-3px);
}

.img-white {
    filter: brightness(100);
}

.menu-icons {
    width: 30px;
    height: 30px;
    padding: 0;
}



.additional-info {
    display: none;
}

.featured-providers {
    filter: brightness(0) invert(1);
    height: 3vw;
}


